@import "../../../../assets/scss/variables";

.header__actions-create {
    position: relative;

    & > .header__action {
        list-style: none;
        margin: 0;
        padding: 8px 0;
        background-color: white;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        display: none;
        z-index: 1;
        box-shadow: 0px 1px 2px #ccc;

        &.show {
            display: flex;
        }

        li {
            width: 100%;
        }

        .header__action-link {
            text-decoration: none;
            outline: none;
            color: inherit;

            :hover,
            :active {
                background-color: $hover-color;
            }
        }
    }
}
